# Node.js
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Supabase
.supabase/

# Environment variables
.env*
!.env.example

# Local secrets
apikeys.txt

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Vercel
.vercel/

